{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138460085-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138460085-3');
  </script>
  <!-- Title -->
  <title>TG Website | Oferta - strony wizytówki</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/img/logos/logo-sm.png' %}">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/hs-bg-video/hs-bg-video.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
</head>
<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header">
    <div class="u-header__section">

      <div id="logoAndNav" class="container">
        <!-- Nav -->
          {% include "basic/navbar.html" %}
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="d-md-flex bg-img-hero-bottom" style="background-image: url({% static 'assets/img/1920x1080/img22.jpg' %});">
      <div class="container d-md-flex align-items-md-center min-height-md-100vh space-3">
        <div class="w-lg-80 text-center mx-auto">
          <h1 class="text-dark display-2 font-size-md-down-5 font-weight-semi-bold mb-0">Strony wizytówki</h1>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Description Section -->
    <div class="position-relative">
      <div class="container">
        <div class="row">
          <div class="col-md-5 d-md-flex align-content-md-center flex-md-wrap height-md-100vh space-2">
            <h2>O naszych realizacjach</h2>
            <p>Nasza firma tworzy jedne z najbardziej wydajnych stron wizytówek. Zajmujemy się ich realizacją już od wielu lat, przez co mamy bardzo duże doświadczenie w ich budowie.</p>
            <p>Mimo wielu dostępnych kreatorów w tym obszarze wiele klientów korzysta z naszych usług tworzenia stron internetowych o charakterze informacyjnym, ponieważ zapewniamy dużo szybsze ładowanie, lepszy kontent co wpływa bezpośrednio na to, że firma, która skorzysta z naszych usług, znajdzie się dużo wyżej w wyszukiwarce Google (co w konsekwencji bezpośrednio przekłada się na jej wzrost sprzedaży).</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 position-md-absolute top-md-0 right-md-0 px-0">
        <div class="d-flex align-items-center gradient-half-primary-v1 space-2 height-md-60vh">
          <div class="w-lg-80 text-center px-5 mx-auto">
            <h2 class="text-white font-weight-normal mb-5">Najepsza strona wizytówka?</h2>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-sm-12">
            <!-- Video Background -->
            <div class="js-bg-video d-none d-md-block h-100 w-100"
                 data-hs-bgv-type="youtube"
                 data-hs-bgv-id="HGGSAPlQXPA"
                 data-hs-bgv-loop="true">
            </div>
            <!-- End Video Background -->

            <div class="d-md-none bg-img-hero-center height-40vh" style="background-image: url({% static 'assets/img/600x600/img13.jpg' %});"></div>
          </div>

          <div class="col-sm-0 bg-img-hero-center height-40vh" style="background-image: url({% static 'assets/img/600x600/img3.jpg' %});"></div>
        </div>
      </div>
    </div>
    <!-- End Description Section -->

    <!-- Description Section -->
    <div class="position-relative bg-light">
      <div class="container">
        <div class="row justify-content-md-end">
          <div class="col-md-5 d-md-flex align-content-md-center flex-md-wrap height-md-100vh space-2">
		    <h2>Skupienie na kliencie</h2>

            <p>Wiemy, jak ważna jest odpowiednia pozycja w wyszukiwarce Google (SEO). Dlatego strony wizytówki, które tworzymy, są bardzo dobrze zoptymalizowane, aby wyświetlały się jak najwyżej w organicznych wynikach wyszywania.</p>
            <p>Dla naszych klientów, którzy rozpoczną z nami współprace w obszarze budowy strony wizytówki, prezentującej firmę, usługi lub produkty oferujemy specjalne pakiety e-marketingu, które nie posiadają inne firmy. Jako jedne z nielicznych mogę zapewnić naprawdę rzetelne i skuteczne rezultaty sprzedażowe przy odpowiednio cenie.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 position-md-absolute top-md-0 left-md-0 px-0">
        <div class="d-flex align-items-center gradient-half-warning-v1 space-2 height-md-60vh">
          <div class="w-lg-80 text-center px-5 mx-auto">
            <h2 class="text-white font-weight-normal mb-0">Dlaczego e-BlueDesign?</h2>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-sm-0 bg-img-hero-center height-40vh" style="background-image: url({% static 'assets/img/600x600/img14.jpg' %});"></div>

          <div class="col-sm-12">
            <!-- Video Background -->
            <div class="js-bg-video d-none d-md-block h-100 w-100"
                 data-hs-bgv-type="youtube"
                 data-hs-bgv-id="hrtSDYuij_8"
                 data-hs-bgv-loop="true">
            </div>
            <!-- End Video Background -->

            <div class="d-md-none bg-img-hero-center height-40vh" style="background-image: url({% static 'assets/img/600x600/img14.jpg' %});"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Description Section -->

    <!-- Case Breakdown -->
    <div class="container space-2 space-md-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Przykłady</span>
        <h2>Czym się wyróżniają nasze <span class="font-weight-semi-bold">strony wizytówki</span>?</h2>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-5 mb-lg-0">

          <!-- List -->
          <ul class="list-unstyled text-secondary mb-0">
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Responsywność
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Szybkie ładowanie
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Unikalny Design
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Duże i zachwycające grafiki
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-6 col-lg-4 mb-5 mb-lg-0">

          <!-- List -->
          <ul class="list-unstyled text-secondary mb-0">
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Zaawansowane formularze kontaktowe
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Możliwość dodania wielu dodatkowych funkcji
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Unikalne Google maps
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Wirtualny asystent
            </li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-6 col-lg-4 mb-5 mb-lg-0">

          <!-- List -->
          <ul class="list-unstyled text-secondary mb-0">
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Integracja z Social Media
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Integracja z innymi stronami
            </li>
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              Dodanie systemu płatności
            </li>
			<a href="{% url 'app:contact' %}">
            <li class="d-flex align-items-center py-2">
              <span class="mr-3">&#8211;</span>
              <b>Wiele innych (skontaktuj się z nami)*</b>
            </li>
			</a>
          </ul>
          <!-- End List -->
        </div>
      </div>
    </div>
    <!-- End Case Breakdown -->

    <!-- Paging v1 Section -->
    <nav class="clearfix">
      <div class="row no-gutters">
        <a class="col-sm-5 order-sm-1 u-paging-modern gradient-overlay-half-primary-v2 bg-img-hero space-1 space-sm-3 text-right" href="{% url 'app:shop' %}" style="background-image: url({% static 'assets/img/1920x1080/img8.jpg' %});">
          <!-- Paging v1 -->
          <div class="px-7">
            <span class="text-warning">Tworzymy również</span>
            <div class="d-flex justify-content-between align-items-center">
              <span class="fas fa-arrow-left u-paging-modern__arrow-icon-prev text-warning"></span>
              <h2 class="text-white font-weight-semi-bold mb-0">Sklepy internetowe</h2>
            </div>
          </div>
          <!-- End Paging v1 -->
        </a>

        <a class="col-sm-5 order-sm-3 u-paging-modern gradient-overlay-half-primary-v1 bg-img-hero space-1 space-sm-3" href="{% url 'app:portal' %}" style="background-image: url({% static 'assets/img/1920x1080/img24.jpg' %});">
          <!-- Paging v1 -->
          <div class="px-7">
            <span class="text-warning">Tworzymy również</span>
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="text-white font-weight-semi-bold mb-0">Portale internetowe</h2>
              <span class="fas fa-arrow-right u-paging-modern__arrow-icon-next text-warning"></span>
            </div>
          </div>
          <!-- End Paging v1 -->
        </a>

        <a class="col-sm-2 order-sm-2 u-paging-modern-view-all space-1 space-sm-3" href="{% url 'app:contact' %}">
          <!-- Paging v1 -->
          <span class="fas fa-envelope u-paging-modern-view-all__icon"></span>
          Napisz do nas
          <!-- End Paging v1 -->
        </a>
      </div>
    </nav>
    <!-- End Paging v1 Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  {% include "basic/footer.html" %}
  <!-- ========== END FOOTER ========== -->

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'assets/vendor/svg-injector/dist/svg-injector.min.js' %}"></script>
  <script src="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-bg-video/hs-bg-video.js' %}"></script>
  <script src="{% static 'assets/vendor/hs-bg-video/vendor/player.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'assets/js/hs.core.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.unfold.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.validation.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.focus-state.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.show-animation.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.slick-carousel.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.bg-video.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.svg-injector.js' %}"></script>
  <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });

      // initialization of svg injector module
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });

      // initialization of forms
      $.HSCore.components.HSFocusState.init();

      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

      // initialization of video on background
      $.HSCore.components.HSBgVideo.init('.js-bg-video');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
</body>
</html>